{% extends "base.html" %}
{% block title %}
    修改学生信息
{% endblock %}

{% block systemName %}
    管理员后台
{% endblock %}

{% block main %}
    <h3 class="center bottom20">更改学生信息</h3>
    <table align="center">
        <tr>
            <td>学生名字</td>
            <td>学生学号</td>
            <td>操作</td>
        </tr>
        <tr>
        <form action="{% url 'stu:change' id=stu.id %}" method="post">
            <td><input type="text" name="name" value="{{ stu.s_name }}"></td>
            <td><input type="text" name="num" value="{{ stu.s_num }}"></td>
            <td><input type="submit" value="保存修改"></td>
        </form>
        </tr>
    </table>
{% endblock %}