{% extends "base2.html" %}

{% block title %}
    选课课程信息
{% endblock %}

{% block systemName %}
    学生选课系统
{% endblock %}

{% block main %}
    <h3 class="center bottom20">课程信息</h3>

    <p>{{ name }}</p>
    <form action="/course/selcourse/" method="post">
        <input type="text" name="str1">
        <input type="submit" value="查询">
    </form>
    <h3>一共{{ courses.paginator.count }}条数据</h3>
    <table align="center" width="600px">
        <tr>
            <th width="100px">课程名字</th>
            <th width="200px">课程描述</th>
            <th width="100px">操作</th>
        </tr>
        {% for course in courses%}
        <tr>
            <td>{{ course.c_name }}</td>
            <td>{{ course.c_desc }}</td>
            <td><a href="#" onclick="choice({{ course.id }})">选择</a></td>
        </tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <tr>{{ s_name }}</tr>
            {% for studentcourse in studentcourses %}
                <td>{{ studentcourse.course.c_name }}</td>
            {% endfor %}

        </tr>
    </table>
    <h5>
        {% if courses.has_previous %}
            <a href="/course/choicecourse/?page_id={{ courses.previous_page_number }}">上一页</a>
        {% endif %}
        {% for i in courses.paginator.page_range %}
            {% if i != courses.number %}
                <a href="/course/choicecourse/?page_id={{ i }}">{{ i }}</a>
            {% else %}
                {{ i }}
            {% endif %}
        {% endfor %}
        {% if courses.has_next %}
            <a href="/course/choicecourse/?page_id={{ courses.next_page_number }}">下一页</a>
        {% endif %}
    </h5>
    <table>
        <tr>
            <th>学生名字</th>
            <th align="center">选课信息</th>
        </tr>
        <tr>
            <td>{{ request.session.s_name }}</td>
            <td id="choiceinfo">
            {% for stucourse in stucourses %}
                {{ stucourse.c_name }}  <a href="#" onclick="cancle({{ stucourse.id }})">取消</a> |
            {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
{% block script %}
    <script>
        function choice(course_id){
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/course/ajaxchoice/',
                data: {'course_id': course_id},
                error: function (msg) {
                    console.log('请求错误！')
                },

                success: function (msg) {
                    courses = JSON.parse(msg.courses);
                    console.log(msg);
                    $('#choiceinfo').empty();
                    for(var i = 0; i < courses.length; i++){
                        s = courses[i].fields.c_name + '<a href="#" onclick="cancle(' + courses[i].pk + ')">取消</a> | ';
                        $('#choiceinfo').append(s)
                    }

                }
            })
        }

        function cancle(course_id) {
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '/course/ajaxcancle/',
                data: {'course_id': course_id},
                error: function (msg) {
                    {#window.location.reload()#}
                },

                success: function (msg) {
                    courses = JSON.parse(msg.courses);
                    console.log(msg);
                    $('#choiceinfo').empty();
                    for(var i = 0; i < courses.length; i++){
                        s = courses[i].fields.c_name + '<a href="#" onclick="cancle(' + courses[i].pk + ')">取消</a> | ';
                        $('#choiceinfo').append(s)
                    }

                }
            })
        }
    </script>

{% endblock %}
