{% extends "base.html" %}
{% block title %}
    专业班级选择
{% endblock %}

{% block systemName %}
    管理员后台
{% endblock %}

{% block main %}
    <h3 class="center bottom20">按班级查询学生</h3>
    <div class="center">
        <form action="/stu/stus/" method="post" id="selform"></form>
        <input type="button" value="添加班级信息" onclick="addGrade()">
    </div>
    <div id="add-grade"></div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            g = '班级：<select name="data">';

            $.ajax({
                type: 'get',
                url: '/grade/grade/',
                dataType: 'json',
                success: function (msg) {
                    for(var i = 0; i<msg.length; i++){
                        g += '<option value="'+msg[i].g_name + '">' + msg[i].g_name
                            + '</option>'
                    }
                    g += '</select>&nbsp;&nbsp;<input type="submit" value="查询">';
                    $('#selform').html(g)
                },
                error: function (msg) {
                    alert('获取数据失败！请重启网络')
                }
            });
        });

        function addGrade() {
            s = '<div>' +
                '班级名：<input type="text" name="name" id="g_name"><br>' +
                '班级描述：<input type="text" name="desc" id="g_desc"><br>' +
                '<input type="button" onclick="add()" value="添加">' +
                '</div>';
            $('#add-grade').html(s)
        }

        function add() {
            g_name = $('#g_name').val();
            g_desc = $('#g_desc').val();
            $.ajax({
                type: 'post',
                url: '/grade/grade/',
                data: {'g_name': g_name, 'g_desc': g_desc},
                dataType: 'json',
                success: function (msg) {
                    alert('添加成功！');
                    console.log(msg);
                    $('#add-grade').children().filter('div').remove();
                    location.reload([bForceGet])
                },
                error: function (msg) {
                    alert('添加失败！');
                    console.log(msg);
                }
            })
        }
        
        {#function selstu() {#}
        {#    var data = $('select').val();#}
        {#    alert(data);#}
        {#    $.ajax({#}
        {#        type: 'get',#}
        {#        url: '/stu/stus/',#}
        {#        data: {'data': data},#}
        {#        dataType: 'json',#}
        {#        success: function (msg) {#}
        {#            console.log(msg)#}
        {#        },#}
        {##}
        {#        error: function (msg) {#}
        {#            alert('查询失败！');#}
        {#            console.log(msg)#}
        {#        }#}
        {#    })#}
        {# }#}
    </script>
{% endblock %}