<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
</head>
<body>
    <input type="hidden" id="message" value="{{ message }}">
    <form action="/uauth/login/" method="post">
        <input name="role" type="radio" value="student" checked>学生
        <input name="role" type="radio" value="manage">管理员<br>
        <input type="text" name="name" placeholder="请输入用户名"><br>
        <input type="password" name="password" placeholder="请输入密码"><br>
        <input type="submit" value="登录">
    </form>
</body>
</html>