{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/market/market.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/market/js/market.js' %}"></script>
    <script>
    </script>
{% endblock %}


{% block content %}
    {% csrf_token %}
    <div id="market">

        <aside>

            <ul>
                {% for foodtype in foodtypes %}
                <!--闪购分类展示-->
                    <li>
                        <!--链接地址，点击获取分类下的商品信息-->
                        <a href="#" onclick="choose_foodtype({{ foodtype.typeid }})">{{ foodtype.typename }}</a>
                        {% if forloop.counter == 1 %}
                            <span class="yellowSlide" id="id_104749" foodtype="{{ foodtype.typeid }}"></span>
                        {% else %}
                            <span id="id_{{ foodtype.typeid }}"></span>
                        {% endif %}
                    </li>
                <!--处理数据结束-->
                {% endfor %}

            </ul>

        </aside>


        <section>
            <nav>
                <ul>
                    <li id="all_types"><span>全部类型<span id="all_type_logo"
                                                       class="glyphicon glyphicon-chevron-down"></span></span></li>
                    <li id="sort_rule"><span>综合排序<span id="sort_rule_logo" class="glyphicon glyphicon-chevron-down"></span></span></li>
                </ul>
            </nav>

            <menu>
                <ul id="show-goods">
                    {% csrf_token %}
                    {% for good in goods %}
                    <!--商品信息展示-->
                        <li>
                            <a href="#">
                                <img src="{{ good.productimg }}" alt="" id="good_img">
                                <div class="shoppingInfo">
                                    <h6>{{ good.productlongname }}</h6>
                                    <p class="detailTag">
                                        <span>精选</span>
                                        <span>热销中</span>
                                    </p>
                                    <p class="unit">

                                    </p>
                                    <p class="price">
                                        <span>¥{{ good.price }}</span>
                                        <s>¥ {{ good.marketprice }}</s>
                                    </p>
                                </div>
                            </a>
                        <section>

                            <button goodsid="{{ good.id }}" onclick="subtocart({{ good.id }})">-</button>
                            <span id="span{{ good.id }}">0</span>
                            <button goodsid="{{ good.id }}" onclick="addtocart({{ good.id }})">+</button>
                        </section>
                        </li>
                    <!--处理数据结束-->
                    {% endfor %}
                </ul>

                <div id="all_types_container">
                    <div id="typeslist">
                        {% for listname in listnames %}
                        <!--加载全部分类的数据-->
                            <a href="#" onclick="choice_childid({{ listname.id }}, 1)">
                                <span>{{ listname.childname }}</span>
                            </a>
                        <!--处理数据结束-->
                        {% endfor %}


                    </div>
                </div>


                <div id="sort_container">
                    <div>
{#      排序传递的也是状态码   0 , 1 ,2  , 3 ,4 ,5...                    #}
                        <a href="#" onclick="choice_childid(0, 1)" id="sort_1">
                            <span>综合排序</span>
                        </a>
                        <a href="#" onclick="choice_childid(0, 2)" id="sort_2">
                            <span>销量排序</span>
                        </a>
                        <a href="#" onclick="choice_childid(0, 3)" id="sort_3">
                            <span>价格降序</span>
                        </a>
                        <a href="#" onclick="choice_childid(0, 4)" id="sort_4">
                            <span>价格升序</span>
                        </a>

                    </div>
                </div>

            </menu>

        </section>


    </div>


{% endblock %}